Business Objective:

This case study aims to identify patterns which indicate if a client has difficulty paying their instalments which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc. This will ensure that the consumers capable of repaying the loan are not rejected. Identification of such applicants using EDA is the aim of this case study. In other words, the company wants to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default. The company can utilise this knowledge for its portfolio and risk assessment.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [5]:
pd.set_option('display.max_columns', 150)
pd.set_option('display.max_rows', 150)
warnings.filterwarnings("ignore")

### 1. Importing Data

In [6]:
app_df = pd.read_csv('application_data.csv')

### 2. Checking Dataset - Variables, Structure

In [7]:
app_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#Checking shape of the dataframe

app_df.shape

(307511, 122)

In [9]:
app_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT                    float64
 9    AMT_ANNUITY                   float64
 10   AMT_GOODS_PRICE               float64
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [10]:
#Describing dataframe

app_df.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.0,278180.518577,102790.175348,1.000020e+05,189145.500000,278202.000000,367142.500000,4.562550e+05
TARGET,307511.0,0.080729,0.272419,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
CNT_CHILDREN,307511.0,0.417052,0.722121,0.000000e+00,0.000000,0.000000,1.000000,1.900000e+01
AMT_INCOME_TOTAL,307511.0,168797.919297,237123.146279,2.565000e+04,112500.000000,147150.000000,202500.000000,1.170000e+08
AMT_CREDIT,307511.0,599025.999706,402490.776996,4.500000e+04,270000.000000,513531.000000,808650.000000,4.050000e+06
AMT_ANNUITY,307499.0,27108.573909,14493.737315,1.615500e+03,16524.000000,24903.000000,34596.000000,2.580255e+05
AMT_GOODS_PRICE,307233.0,538396.207429,369446.460540,4.050000e+04,238500.000000,450000.000000,679500.000000,4.050000e+06
REGION_POPULATION_RELATIVE,307511.0,0.020868,0.013831,2.900000e-04,0.010006,0.018850,0.028663,7.250800e-02
DAYS_BIRTH,307511.0,-16036.995067,4363.988632,-2.522900e+04,-19682.000000,-15750.000000,-12413.000000,-7.489000e+03
DAYS_EMPLOYED,307511.0,63815.045904,141275.766519,-1.791200e+04,-2760.000000,-1213.000000,-289.000000,3.652430e+05
DAYS_REGISTRATION,307511.0,-4986.120328,3522.886321,-2.467200e+04,-7479.500000,-4504.000000,-2010.000000,0.000000e+00
DAYS_ID_PUBLISH,307511.0,-2994.202373,1509.450419,-7.197000e+03,-4299.000000,-3254.000000,-1720.000000,0.000000e+00
OWN_CAR_AGE,104582.0,12.061091,11.944812,0.000000e+00,5.000000,9.000000,15.000000,9.100000e+01
FLAG_MOBIL,307511.0,0.999997,0.001803,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
FLAG_EMP_PHONE,307511.0,0.819889,0.384280,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
FLAG_WORK_PHONE,307511.0,0.199368,0.399526,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_CONT_MOBILE,307511.0,0.998133,0.043164,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
FLAG_PHONE,307511.0,0.281066,0.449521,0.000000e+00,0.000000,0.000000,1.000000,1.000000e+00
FLAG_EMAIL,307511.0,0.056720,0.231307,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
CNT_FAM_MEMBERS,307509.0,2.152665,0.910682,1.000000e+00,2.000000,2.000000,3.000000,2.000000e+01
REGION_RATING_CLIENT,307511.0,2.052463,0.509034,1.000000e+00,2.000000,2.000000,2.000000,3.000000e+00
REGION_RATING_CLIENT_W_CITY,307511.0,2.031521,0.502737,1.000000e+00,2.000000,2.000000,2.000000,3.000000e+00
HOUR_APPR_PROCESS_START,307511.0,12.063419,3.265832,0.000000e+00,10.000000,12.000000,14.000000,2.300000e+01
REG_REGION_NOT_LIVE_REGION,307511.0,0.015144,0.122126,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
REG_REGION_NOT_WORK_REGION,307511.0,0.050769,0.219526,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
LIVE_REGION_NOT_WORK_REGION,307511.0,0.040659,0.197499,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
REG_CITY_NOT_LIVE_CITY,307511.0,0.078173,0.268444,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
REG_CITY_NOT_WORK_CITY,307511.0,0.230454,0.421124,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
LIVE_CITY_NOT_WORK_CITY,307511.0,0.179555,0.383817,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
EXT_SOURCE_1,134133.0,0.502130,0.211062,1.456813e-02,0.334007,0.505998,0.675053,9.626928e-01
EXT_SOURCE_2,306851.0,0.514393,0.191060,8.173617e-08,0.392457,0.565961,0.663617,8.549997e-01
EXT_SOURCE_3,246546.0,0.510853,0.194844,5.272652e-04,0.370650,0.535276,0.669057,8.960095e-01
APARTMENTS_AVG,151450.0,0.117440,0.108240,0.000000e+00,0.057700,0.087600,0.148500,1.000000e+00
BASEMENTAREA_AVG,127568.0,0.088442,0.082438,0.000000e+00,0.044200,0.076300,0.112200,1.000000e+00
YEARS_BEGINEXPLUATATION_AVG,157504.0,0.977735,0.059223,0.000000e+00,0.976700,0.981600,0.986600,1.000000e+00
YEARS_BUILD_AVG,103023.0,0.752471,0.113280,0.000000e+00,0.687200,0.755200,0.823200,1.000000e+00
COMMONAREA_AVG,92646.0,0.044621,0.076036,0.000000e+00,0.007800,0.021100,0.051500,1.000000e+00
ELEVATORS_AVG,143620.0,0.078942,0.134576,0.000000e+00,0.000000,0.000000,0.120000,1.000000e+00
ENTRANCES_AVG,152683.0,0.149725,0.100049,0.000000e+00,0.069000,0.137900,0.206900,1.000000e+00
FLOORSMAX_AVG,154491.0,0.226282,0.144641,0.000000e+00,0.166700,0.166700,0.333300,1.000000e+00
FLOORSMIN_AVG,98869.0,0.231894,0.161380,0.000000e+00,0.083300,0.208300,0.375000,1.000000e+00
LANDAREA_AVG,124921.0,0.066333,0.081184,0.000000e+00,0.018700,0.048100,0.085600,1.000000e+00
LIVINGAPARTMENTS_AVG,97312.0,0.100775,0.092576,0.000000e+00,0.050400,0.075600,0.121000,1.000000e+00
LIVINGAREA_AVG,153161.0,0.107399,0.110565,0.000000e+00,0.045300,0.074500,0.129900,1.000000e+00
NONLIVINGAPARTMENTS_AVG,93997.0,0.008809,0.047732,0.000000e+00,0.000000,0.000000,0.003900,1.000000e+00
NONLIVINGAREA_AVG,137829.0,0.028358,0.069523,0.000000e+00,0.000000,0.003600,0.027700,1.000000e+00
APARTMENTS_MODE,151450.0,0.114231,0.107936,0.000000e+00,0.052500,0.084000,0.143900,1.000000e+00
BASEMENTAREA_MODE,127568.0,0.087543,0.084307,0.000000e+00,0.040700,0.074600,0.112400,1.000000e+00
YEARS_BEGINEXPLUATATION_MODE,157504.0,0.977065,0.064575,0.000000e+00,0.976700,0.981600,0.986600,1.000000e+00
YEARS_BUILD_MODE,103023.0,0.759637,0.110111,0.000000e+00,0.699400,0.764800,0.823600,1.000000e+00
COMMONAREA_MODE,92646.0,0.042553,0.074445,0.000000e+00,0.007200,0.019000,0.049000,1.000000e+00
ELEVATORS_MODE,143620.0,0.074490,0.132256,0.000000e+00,0.000000,0.000000,0.120800,1.000000e+00
ENTRANCES_MODE,152683.0,0.145193,0.100977,0.000000e+00,0.069000,0.137900,0.206900,1.000000e+00
FLOORSMAX_MODE,154491.0,0.222315,0.143709,0.000000e+00,0.166700,0.166700,0.333300,1.000000e+00
FLOORSMIN_MODE,98869.0,0.228058,0.161160,0.000000e+00,0.083300,0.208300,0.375000,1.000000e+00
LANDAREA_MODE,124921.0,0.064958,0.081750,0.000000e+00,0.016600,0.045800,0.084100,1.000000e+00
LIVINGAPARTMENTS_MODE,97312.0,0.105645,0.097880,0.000000e+00,0.054200,0.077100,0.131300,1.000000e+00
LIVINGAREA_MODE,153161.0,0.105975,0.111845,0.000000e+00,0.042700,0.073100,0.125200,1.000000e+00
NONLIVINGAPARTMENTS_MODE,93997.0,0.008076,0.046276,0.000000e+00,0.000000,0.000000,0.003900,1.000000e+00
NONLIVINGAREA_MODE,137829.0,0.027022,0.070254,0.000000e+00,0.000000,0.001100,0.023100,1.000000e+00
APARTMENTS_MEDI,151450.0,0.117850,0.109076,0.000000e+00,0.058300,0.086400,0.148900,1.000000e+00
BASEMENTAREA_MEDI,127568.0,0.087955,0.082179,0.000000e+00,0.043700,0.075800,0.111600,1.000000e+00
YEARS_BEGINEXPLUATATION_MEDI,157504.0,0.977752,0.059897,0.000000e+00,0.976700,0.981600,0.986600,1.000000e+00
YEARS_BUILD_MEDI,103023.0,0.755746,0.112066,0.000000e+00,0.691400,0.758500,0.825600,1.000000e+00
COMMONAREA_MEDI,92646.0,0.044595,0.076144,0.000000e+00,0.007900,0.020800,0.051300,1.000000e+00
ELEVATORS_MEDI,143620.0,0.078078,0.134467,0.000000e+00,0.000000,0.000000,0.120000,1.000000e+00
ENTRANCES_MEDI,152683.0,0.149213,0.100368,0.000000e+00,0.069000,0.137900,0.206900,1.000000e+00
FLOORSMAX_MEDI,154491.0,0.225897,0.145067,0.000000e+00,0.166700,0.166700,0.333300,1.000000e+00
FLOORSMIN_MEDI,98869.0,0.231625,0.161934,0.000000e+00,0.083300,0.208300,0.375000,1.000000e+00
LANDAREA_MEDI,124921.0,0.067169,0.082167,0.000000e+00,0.018700,0.048700,0.086800,1.000000e+00
LIVINGAPARTMENTS_MEDI,97312.0,0.101954,0.093642,0.000000e+00,0.051300,0.076100,0.123100,1.000000e+00
LIVINGAREA_MEDI,153161.0,0.108607,0.112260,0.000000e+00,0.045700,0.074900,0.130300,1.000000e+00
NONLIVINGAPARTMENTS_MEDI,93997.0,0.008651,0.047415,0.000000e+00,0.000000,0.000000,0.003900,1.000000e+00
NONLIVINGAREA_MEDI,137829.0,0.028236,0.070166,0.000000e+00,0.000000,0.003100,0.026600,1.000000e+00
TOTALAREA_MODE,159080.0,0.102547,0.107462,0.000000e+00,0.041200,0.068800,0.127600,1.000000e+00
OBS_30_CNT_SOCIAL_CIRCLE,306490.0,1.422245,2.400989,0.000000e+00,0.000000,0.000000,2.000000,3.480000e+02
DEF_30_CNT_SOCIAL_CIRCLE,306490.0,0.143421,0.446698,0.000000e+00,0.000000,0.000000,0.000000,3.400000e+01
OBS_60_CNT_SOCIAL_CIRCLE,306490.0,1.405292,2.379803,0.000000e+00,0.000000,0.000000,2.000000,3.440000e+02
DEF_60_CNT_SOCIAL_CIRCLE,306490.0,0.100049,0.362291,0.000000e+00,0.000000,0.000000,0.000000,2.400000e+01
DAYS_LAST_PHONE_CHANGE,307510.0,-962.858788,826.808487,-4.292000e+03,-1570.000000,-757.000000,-274.000000,0.000000e+00
FLAG_DOCUMENT_2,307511.0,0.000042,0.006502,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_3,307511.0,0.710023,0.453752,0.000000e+00,0.000000,1.000000,1.000000,1.000000e+00
FLAG_DOCUMENT_4,307511.0,0.000081,0.009016,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_5,307511.0,0.015115,0.122010,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_6,307511.0,0.088055,0.283376,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_7,307511.0,0.000192,0.013850,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_8,307511.0,0.081376,0.273412,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_9,307511.0,0.003896,0.062295,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_10,307511.0,0.000023,0.004771,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_11,307511.0,0.003912,0.062424,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_12,307511.0,0.000007,0.002550,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_13,307511.0,0.003525,0.059268,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_14,307511.0,0.002936,0.054110,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_15,307511.0,0.001210,0.034760,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_16,307511.0,0.009928,0.099144,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_17,307511.0,0.000267,0.016327,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_18,307511.0,0.008130,0.089798,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_19,307511.0,0.000595,0.024387,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_20,307511.0,0.000507,0.022518,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
FLAG_DOCUMENT_21,307511.0,0.000335,0.018299,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
AMT_REQ_CREDIT_BUREAU_HOUR,265992.0,0.006402,0.083849,0.000000e+00,0.000000,0.000000,0.000000,4.000000e+00
AMT_REQ_CREDIT_BUREAU_DAY,265992.0,0.007000,0.110757,0.000000e+00,0.000000,0.000000,0.000000,9.000000e+00
AMT_REQ_CREDIT_BUREAU_WEEK,265992.0,0.034362,0.204685,0.000000e+00,0.000000,0.000000,0.000000,8.000000e+00
AMT_REQ_CREDIT_BUREAU_MON,265992.0,0.267395,0.916002,0.000000e+00,0.000000,0.000000,0.000000,2.700000e+01
AMT_REQ_CREDIT_BUREAU_QRT,265992.0,0.265474,0.794056,0.000000e+00,0.000000,0.000000,0.000000,2.610000e+02
AMT_REQ_CREDIT_BUREAU_YEAR,265992.0,1.899974,1.869295,0.000000e+00,0.000000,1.000000,3.000000,2.500000e+01

### 3. Data Quality Check, Missing Values and Outliers

In [18]:
# Finding Percentage of missing value for all columns:

missing_per = (app_df.isna().sum()*100/app_df.shape[0])
missing_per.sort_values(ascending = False)

COMMONAREA_MEDI                 69.872297
COMMONAREA_AVG                  69.872297
COMMONAREA_MODE                 69.872297
NONLIVINGAPARTMENTS_MODE        69.432963
NONLIVINGAPARTMENTS_AVG         69.432963
NONLIVINGAPARTMENTS_MEDI        69.432963
FONDKAPREMONT_MODE              68.386172
LIVINGAPARTMENTS_MODE           68.354953
LIVINGAPARTMENTS_AVG            68.354953
LIVINGAPARTMENTS_MEDI           68.354953
FLOORSMIN_AVG                   67.848630
FLOORSMIN_MODE                  67.848630
FLOORSMIN_MEDI                  67.848630
YEARS_BUILD_MEDI                66.497784
YEARS_BUILD_MODE                66.497784
YEARS_BUILD_AVG                 66.497784
OWN_CAR_AGE                     65.990810
LANDAREA_MEDI                   59.376738
LANDAREA_MODE                   59.376738
LANDAREA_AVG                    59.376738
BASEMENTAREA_MEDI               58.515956
BASEMENTAREA_AVG                58.515956
BASEMENTAREA_MODE               58.515956
EXT_SOURCE_1                    56.381073
NONLIVINGAREA_MODE              55.179164
NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_MEDI                  53.295980
ELEVATORS_AVG                   53.295980
ELEVATORS_MODE                  53.295980
WALLSMATERIAL_MODE              50.840783
APARTMENTS_MEDI                 50.749729
APARTMENTS_AVG                  50.749729
APARTMENTS_MODE                 50.749729
ENTRANCES_MEDI                  50.348768
ENTRANCES_AVG                   50.348768
ENTRANCES_MODE                  50.348768
LIVINGAREA_AVG                  50.193326
LIVINGAREA_MODE                 50.193326
LIVINGAREA_MEDI                 50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MODE                  49.760822
FLOORSMAX_MEDI                  49.760822
FLOORSMAX_AVG                   49.760822
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_MEDI    48.781019
YEARS_BEGINEXPLUATATION_AVG     48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
EXT_SOURCE_3                    19.825307
AMT_REQ_CREDIT_BUREAU_HOUR      13.501631
AMT_REQ_CREDIT_BUREAU_DAY       13.501631
AMT_REQ_CREDIT_BUREAU_WEEK      13.501631
AMT_REQ_CREDIT_BUREAU_MON       13.501631
AMT_REQ_CREDIT_BUREAU_QRT       13.501631
AMT_REQ_CREDIT_BUREAU_YEAR      13.501631
NAME_TYPE_SUITE                  0.420148
OBS_30_CNT_SOCIAL_CIRCLE         0.332021
DEF_30_CNT_SOCIAL_CIRCLE         0.332021
OBS_60_CNT_SOCIAL_CIRCLE         0.332021
DEF_60_CNT_SOCIAL_CIRCLE         0.332021
EXT_SOURCE_2                     0.214626
AMT_GOODS_PRICE                  0.090403
AMT_ANNUITY                      0.003902
CNT_FAM_MEMBERS                  0.000650
DAYS_LAST_PHONE_CHANGE           0.000325
CNT_CHILDREN                     0.000000
FLAG_DOCUMENT_8                  0.000000
NAME_CONTRACT_TYPE               0.000000
CODE_GENDER                      0.000000
FLAG_OWN_CAR                     0.000000
FLAG_DOCUMENT_2                  0.000000
FLAG_DOCUMENT_3                  0.000000
FLAG_DOCUMENT_4                  0.000000
FLAG_DOCUMENT_5                  0.000000
FLAG_DOCUMENT_6                  0.000000
FLAG_DOCUMENT_7                  0.000000
FLAG_DOCUMENT_9                  0.000000
FLAG_DOCUMENT_21                 0.000000
FLAG_DOCUMENT_10                 0.000000
FLAG_DOCUMENT_11                 0.000000
FLAG_OWN_REALTY                  0.000000
FLAG_DOCUMENT_13                 0.000000
FLAG_DOCUMENT_14                 0.000000
FLAG_DOCUMENT_15                 0.000000
FLAG_DOCUMENT_16                 0.000000
FLAG_DOCUMENT_17                 0.000000
FLAG_DOCUMENT_18                 0.000000
FLAG_DOCUMENT_19                 0.000000
FLAG_DOCUMENT_20                 0.000000
FLAG_DOCUMENT_12                 0.000000
AMT_CREDIT                       0.000000
AMT_INCOME_TOTAL                 0.000000
FLAG_PHONE                       0.000000
LIVE_CITY_NOT_WORK_CITY          0.000000
REG_CITY_NOT_WORK_CITY           0.000000
TARGET                           0.000000
REG_CITY_NOT_LIVE_CITY           0.000000
LIVE_REGION_NOT_WORK_REGION      0.000000
REG_REGION_NOT_WORK_REGION       0.000000
REG_REGION_NOT_LIVE_REGION       0.000000
HOUR_APPR_PROCESS_START          0.000000
WEEKDAY_APPR_PROCESS_START       0.000000
REGION_RATING_CLIENT_W_CITY      0.000000
REGION_RATING_CLIENT             0.000000
FLAG_EMAIL                       0.000000
FLAG_CONT_MOBILE                 0.000000
ORGANIZATION_TYPE                0.000000
FLAG_WORK_PHONE                  0.000000
FLAG_EMP_PHONE                   0.000000
FLAG_MOBIL                       0.000000
DAYS_ID_PUBLISH                  0.000000
DAYS_REGISTRATION                0.000000
DAYS_EMPLOYED                    0.000000
DAYS_BIRTH                       0.000000
REGION_POPULATION_RELATIVE       0.000000
NAME_HOUSING_TYPE                0.000000
NAME_FAMILY_STATUS               0.000000
NAME_EDUCATION_TYPE              0.000000
NAME_INCOME_TYPE                 0.000000
SK_ID_CURR                       0.000000
dtype: float64

In [24]:
## Removing Columns having more than 50% Missing Values
app_df_new = app_df[missing_per[missing_per<50].index]
app_df_new.shape

(307511, 81)

After droping colums that have missing values more than 50%, we have now 81 columns in our application dataset.

### Checking columns having data types object:

In [25]:
app_df_new.select_dtypes(include='O').head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN

### Checking columns having data types other than object

In [27]:
app_df_new.select_dtypes(exclude='O').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 68 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   SK_ID_CURR                    307511 non-null  int64
 1   TARGET                        307511 non-null  int64
 2   CNT_CHILDREN                  307511 non-null  int64
 3   AMT_INCOME_TOTAL              307511 non-null  float64
 4   AMT_CREDIT                    307511 non-null  float64
 5   AMT_ANNUITY                   307499 non-null  float64
 6   AMT_GOODS_PRICE               307233 non-null  float64
 7   REGION_POPULATION_RELATIVE    307511 non-null  float64
 8   DAYS_BIRTH                    307511 non-null  int64
 9   DAYS_EMPLOYED                 307511 non-null  int64
 10  DAYS_REGISTRATION             307511 non-null  float64
 11  DAYS_ID_PUBLISH               307511 non-null  int64
 12  FLAG_MOBIL                    307511 non-null  int64
 13  FLAG_EMP_PHONE                307511 non-null  int64
 14  FLAG_WORK_PHONE               307511 non-null  int64
 15  FLAG_CONT_MOBILE              307511 non-null  int64
 16  FLAG_PHONE                    307511 non-null  int64
 17  FLAG_EMAIL                    307511 non-null  int64
 18  CNT_FAM_MEMBERS               307509 non-null  float64
 19  REGION_RATING_CLIENT          307511 non-null  int64
 20  REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 21  HOUR_APPR_PROCESS_START       307511 non-null  int64
 22  REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 23  REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 24  LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 25  REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 26  REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 27  LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 28  EXT_SOURCE_2                  306851 non-null  float64
 29  EXT_SOURCE_3                  246546 non-null  float64
 30  YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 31  FLOORSMAX_AVG                 154491 non-null  float64
 32  YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 33  FLOORSMAX_MODE                154491 non-null  float64
 34  YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 35  FLOORSMAX_MEDI                154491 non-null  float64
 36  TOTALAREA_MODE                159080 non-null  float64
 37  OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 38  DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 39  OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 40  DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 41  DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 42  FLAG_DOCUMENT_2               307511 non-null  int64
 43  FLAG_DOCUMENT_3               307511 non-null  int64
 44  FLAG_DOCUMENT_4               307511 non-null  int64
 45  FLAG_DOCUMENT_5               307511 non-null  int64
 46  FLAG_DOCUMENT_6               307511 non-null  int64
 47  FLAG_DOCUMENT_7               307511 non-null  int64
 48  FLAG_DOCUMENT_8               307511 non-null  int64
 49  FLAG_DOCUMENT_9               307511 non-null  int64
 50  FLAG_DOCUMENT_10              307511 non-null  int64
 51  FLAG_DOCUMENT_11              307511 non-null  int64
 52  FLAG_DOCUMENT_12              307511 non-null  int64
 53  FLAG_DOCUMENT_13              307511 non-null  int64
 54  FLAG_DOCUMENT_14              307511 non-null  int64
 55  FLAG_DOCUMENT_15              307511 non-null  int64
 56  FLAG_DOCUMENT_16              307511 non-null  int64
 57  FLAG_DOCUMENT_17              307511 non-null  int64
 58  FLAG_DOCUMENT_18              307511 non-null  int64
 59  FLAG_DOCUMENT_19              307511 non-null  int64
 60  FLAG_DOCUMENT_20              307511 non-null  int64
 61  FLAG_DOCUMENT_21              307511 non-null  int64
 62  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 63  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 64  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 65  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 66  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 67  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(27), int64(41)
memory usage: 159.5 MB

In [28]:
app_df_new.select_dtypes(exclude='O').head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,1,0,1.0,2,2,10,0,0,0,0,0,0,0.262949,0.139376,0.9722,0.0833,0.9722,0.0833,0.9722,0.0833,0.0149,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,2.0,1,1,11,0,0,0,0,0,0,0.622246,NaN,0.9851,0.2917,0.9851,0.2917,0.9851,0.2917,0.0714,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,1,0,1.0,2,2,9,0,0,0,0,0,0,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,-9833.0,-2437,1,1,0,1,0,0,2.0,2,2,17,0,0,0,0,0,0,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,-4311.0,-3458,1,1,0,1,0,0,1.0,2,2,11,0,0,0,0,1,1,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

##### It can be seen for DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, DAYS_LAST_PHONE_CHANGE days values are in negative we will change these values to positive.

In [29]:
neg_days= ['DAYS_BIRTH','DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'DAYS_LAST_PHONE_CHANGE']

for i in neg_days:
    app_df_new[i]= app_df_new[i].apply(lambda x: abs(x))
    
app_df_new[neg_days].head()

,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE
0,9461,637,3648.0,2120,1134.0
1,16765,1188,1186.0,291,828.0
2,19046,225,4260.0,2531,815.0
3,19005,3039,9833.0,2437,617.0
4,19932,3038,4311.0,3458,1106.0

##### Checking columns having data type float64:

In [30]:
app_df_new.select_dtypes(include='float64').head()

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,CNT_FAM_MEMBERS,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,202500.0,406597.5,24700.5,351000.0,0.018801,3648.0,1.0,0.262949,0.139376,0.9722,0.0833,0.9722,0.0833,0.9722,0.0833,0.0149,2.0,2.0,2.0,2.0,1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,270000.0,1293502.5,35698.5,1129500.0,0.003541,1186.0,2.0,0.622246,NaN,0.9851,0.2917,0.9851,0.2917,0.9851,0.2917,0.0714,1.0,0.0,1.0,0.0,828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,67500.0,135000.0,6750.0,135000.0,0.010032,4260.0,1.0,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,135000.0,312682.5,29686.5,297000.0,0.008019,9833.0,2.0,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,121500.0,513000.0,21865.5,513000.0,0.028663,4311.0,1.0,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1106.0,0.0,0.0,0.0,0.0,0.0,0.0

Below columns denotes Number of enquires, count of famuily memebers, No. of social media connects and No. of days. So these columns can not be in float, so we'll convert these into integer:

AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR
CNT_FAM_MEMBERS
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_REGISTRATION
DAYS_LAST_PHONE_CHANGE

In [31]:
col_int= ['AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON',
          'AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR','CNT_FAM_MEMBERS', 'OBS_30_CNT_SOCIAL_CIRCLE',
          'DEF_30_CNT_SOCIAL_CIRCLE','OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE','DAYS_REGISTRATION',
          'DAYS_LAST_PHONE_CHANGE']

for col in col_int:
    app_df_new[col]= app_df_new[col].astype('Int64', errors='ignore')

In [32]:
app_df_new[col_int].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   AMT_REQ_CREDIT_BUREAU_HOUR  265992 non-null  Int64
 1   AMT_REQ_CREDIT_BUREAU_DAY   265992 non-null  Int64
 2   AMT_REQ_CREDIT_BUREAU_WEEK  265992 non-null  Int64
 3   AMT_REQ_CREDIT_BUREAU_MON   265992 non-null  Int64
 4   AMT_REQ_CREDIT_BUREAU_QRT   265992 non-null  Int64
 5   AMT_REQ_CREDIT_BUREAU_YEAR  265992 non-null  Int64
 6   CNT_FAM_MEMBERS             307509 non-null  Int64
 7   OBS_30_CNT_SOCIAL_CIRCLE    306490 non-null  Int64
 8   DEF_30_CNT_SOCIAL_CIRCLE    306490 non-null  Int64
 9   OBS_60_CNT_SOCIAL_CIRCLE    306490 non-null  Int64
 10  DEF_60_CNT_SOCIAL_CIRCLE    306490 non-null  Int64
 11  DAYS_REGISTRATION           307511 non-null  float64
 12  DAYS_LAST_PHONE_CHANGE      307510 non-null  Int64
dtypes: Int64(12), float64(1)
memory usage: 34.0 MB

Checking Integar Columns having categorical data:
There are few columns having integer types but actually contains categorical data. As here we are not building any ML model and out intention is to perform EDA, converting these columns into data type object is required to perform univariate and bivariate analysis properly. We will check columns having unique values 3 or less and will convert those columns into object type.

In [33]:
nunique_cols= app_df_new.select_dtypes('int64').nunique().sort_values()
nunique_cols

REG_CITY_NOT_LIVE_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_21                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
REG_CITY_NOT_WORK_CITY              2
FLAG_DOCUMENT_12                    2
FLAG_DOCUMENT_13                    2
REG_REGION_NOT_WORK_REGION          2
TARGET                              2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_19                    2
FLAG_MOBIL                          2
FLAG_EMP_PHONE                      2
FLAG_WORK_PHONE                     2
LIVE_REGION_NOT_WORK_REGION         2
FLAG_CONT_MOBILE                    2
FLAG_EMAIL                          2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_17                    2
REG_REGION_NOT_LIVE_REGION          2
FLAG_PHONE                          2
REGION_RATING_CLIENT                3
REGION_RATING_CLIENT_W_CITY         3
AMT_REQ_CREDIT_BUREAU_HOUR          5
DEF_60_CNT_SOCIAL_CIRCLE            9
AMT_REQ_CREDIT_BUREAU_DAY           9
AMT_REQ_CREDIT_BUREAU_WEEK          9
DEF_30_CNT_SOCIAL_CIRCLE           10
AMT_REQ_CREDIT_BUREAU_QRT          11
CNT_CHILDREN                       15
CNT_FAM_MEMBERS                    17
HOUR_APPR_PROCESS_START            24
AMT_REQ_CREDIT_BUREAU_MON          24
AMT_REQ_CREDIT_BUREAU_YEAR         25
OBS_60_CNT_SOCIAL_CIRCLE           33
OBS_30_CNT_SOCIAL_CIRCLE           33
DAYS_LAST_PHONE_CHANGE           3773
DAYS_ID_PUBLISH                  6168
DAYS_EMPLOYED                   12574
DAYS_BIRTH                      17460
SK_ID_CURR                     307511
dtype: int64

In [34]:
#Creating list of the columns that have maximum of 3 unique values

col_list= nunique_cols[nunique_cols<=3].index.tolist()


#Converting these columns from type int64 to object

for c in col_list:
    app_df_new[c]= app_df_new[c].astype("object")

    
app_df_new[col_list].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   REG_CITY_NOT_LIVE_CITY       307511 non-null  object
 1   LIVE_CITY_NOT_WORK_CITY      307511 non-null  object
 2   FLAG_DOCUMENT_16             307511 non-null  object
 3   FLAG_DOCUMENT_21             307511 non-null  object
 4   FLAG_DOCUMENT_15             307511 non-null  object
 5   FLAG_DOCUMENT_14             307511 non-null  object
 6   FLAG_DOCUMENT_2              307511 non-null  object
 7   FLAG_DOCUMENT_3              307511 non-null  object
 8   FLAG_DOCUMENT_4              307511 non-null  object
 9   FLAG_DOCUMENT_5              307511 non-null  object
 10  FLAG_DOCUMENT_6              307511 non-null  object
 11  FLAG_DOCUMENT_7              307511 non-null  object
 12  FLAG_DOCUMENT_8              307511 non-null  object
 13  FLAG_DOCUMENT_9              307511 non-null  object
 14  FLAG_DOCUMENT_10             307511 non-null  object
 15  FLAG_DOCUMENT_11             307511 non-null  object
 16  REG_CITY_NOT_WORK_CITY       307511 non-null  object
 17  FLAG_DOCUMENT_12             307511 non-null  object
 18  FLAG_DOCUMENT_13             307511 non-null  object
 19  REG_REGION_NOT_WORK_REGION   307511 non-null  object
 20  TARGET                       307511 non-null  object
 21  FLAG_DOCUMENT_20             307511 non-null  object
 22  FLAG_DOCUMENT_19             307511 non-null  object
 23  FLAG_MOBIL                   307511 non-null  object
 24  FLAG_EMP_PHONE               307511 non-null  object
 25  FLAG_WORK_PHONE              307511 non-null  object
 26  LIVE_REGION_NOT_WORK_REGION  307511 non-null  object
 27  FLAG_CONT_MOBILE             307511 non-null  object
 28  FLAG_EMAIL                   307511 non-null  object
 29  FLAG_DOCUMENT_18             307511 non-null  object
 30  FLAG_DOCUMENT_17             307511 non-null  object
 31  REG_REGION_NOT_LIVE_REGION   307511 non-null  object
 32  FLAG_PHONE                   307511 non-null  object
 33  REGION_RATING_CLIENT         307511 non-null  object
 34  REGION_RATING_CLIENT_W_CITY  307511 non-null  object
dtypes: object(35)
memory usage: 82.1+ MB

#### Analyzing Columns having less than 14% Missing Value:

Columns having Missing Values more than 0% but less than 14%:

In [35]:
#Count of missing values in columns that have > 0 %  and  < 14% missing value

app_df_new[(missing_per[(missing_per < 14) & (missing_per > 0)]).index].isnull().sum()

AMT_ANNUITY                      12
AMT_GOODS_PRICE                 278
NAME_TYPE_SUITE                1292
CNT_FAM_MEMBERS                   2
EXT_SOURCE_2                    660
OBS_30_CNT_SOCIAL_CIRCLE       1021
DEF_30_CNT_SOCIAL_CIRCLE       1021
OBS_60_CNT_SOCIAL_CIRCLE       1021
DEF_60_CNT_SOCIAL_CIRCLE       1021
DAYS_LAST_PHONE_CHANGE            1
AMT_REQ_CREDIT_BUREAU_HOUR    41519
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
dtype: int64

In [36]:
app_df_new[(missing_per[(missing_per <= 13) & (missing_per > 0)]).index]

,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,CNT_FAM_MEMBERS,EXT_SOURCE_2,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE
0,24700.5,351000.0,Unaccompanied,1,0.262949,2,2,2,2,1134
1,35698.5,1129500.0,Family,2,0.622246,1,0,1,0,828
2,6750.0,135000.0,Unaccompanied,1,0.555912,0,0,0,0,815
3,29686.5,297000.0,Unaccompanied,2,0.650442,2,0,2,0,617
4,21865.5,513000.0,Unaccompanied,1,0.322738,0,0,0,0,1106
...,...,...,...,...,...,...,...,...,...,...
307506,27558.0,225000.0,Unaccompanied,1,0.681632,0,0,0,0,273
307507,12001.5,225000.0,Unaccompanied,1,0.115992,0,0,0,0,0
307508,29979.0,585000.0,Unaccompanied,1,0.535722,6,0,6,0,1909
307509,20205.0,319500.0,Unaccompanied,2,0.514163,0,0,0,0,322
307510,49117.5,675000.0,Unaccompanied,2,0.708569,0,0,0,0,787

In [37]:
#What are the values of NAME_FAMILY_STATUS where CNT_FAM_MEMBERS is NA?

app_df_new.loc[app_df_new['CNT_FAM_MEMBERS'].isnull(),['NAME_FAMILY_STATUS','CNT_FAM_MEMBERS']]

       NAME_FAMILY_STATUS  CNT_FAM_MEMBERS
41982             Unknown             <NA>
187348            Unknown             <NA>

In [38]:
# How many 'Unknow' values are there in NAME_FAMILY_STATUS column?

app_df_new.loc[app_df_new['NAME_FAMILY_STATUS']=='Unknown',['NAME_FAMILY_STATUS','CNT_FAM_MEMBERS']]

       NAME_FAMILY_STATUS  CNT_FAM_MEMBERS
41982             Unknown             <NA>
187348            Unknown             <NA>

In [39]:
# Observations of client's social surroundings are NA for all same clients?

app_df_new.loc[app_df_new.OBS_30_CNT_SOCIAL_CIRCLE.isna(),['OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE']]

,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE
68,<NA>,<NA>,<NA>,<NA>
394,<NA>,<NA>,<NA>,<NA>
397,<NA>,<NA>,<NA>,<NA>
457,<NA>,<NA>,<NA>,<NA>
1042,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...
305526,<NA>,<NA>,<NA>,<NA>
305623,<NA>,<NA>,<NA>,<NA>
305641,<NA>,<NA>,<NA>,<NA>
305642,<NA>,<NA>,<NA>,<NA>
307402,<NA>,<NA>,<NA>,<NA>

### Suggesting Missing Value treatment:
As We are performing EDA only and we are not going to build any model, so here it's not necessary to treat missing values. So we are just suggesting the missing value traetment approaches based on above analysis and not actually replacing the missing values.

AMT_ANNUITY has continuous value and it's distribution is not symmetrical, we can use Median imputation to treat missing values in this column.
AMT_GOODS_PRICE has continuous value and it's distribution is not symmetrical, we can use Median imputation to treat missing values in this column.
NAME_TYPE_SUITE is a categorical column, we can use mode to impute the missing values.
CNT_FAM_MEMBERS and NAME_FAMILY_STATUS: Both of these Columns have 2 missing values, In NAME_FAMILY_STATUS column the missing value is mentioned as 'Unknow' and in CNT_FAM_MEMBERS columns these are NA values. We can replace these with mode of those two columns.
EXT_SOURCE_2 : it's a continuous variable, we can replace missing values using Median imputation.
OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE: We can use mode imputation for these columns.
DAYS_LAST_PHONE_CHANGE: There is a single missing value, we can use median imputation here.
AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON, AMT_REQ_CREDIT_BUREAU_QRT: All these columns denotes Number of enquiries to Credit Bureau about the client # Months/Days/Weeks before application. We can use mode imputation. That will generalize it, so we are basically replacing the missing values with maximum no. of occurrence of the enquiries by the bank (Number of enquires generally bank does for most of the customers).